*{
   font-family: 'Times New Roman', Times, serif;
}
.bla{
    background:url("https://huvene.files.wordpress.com/2012/06/siyah-beyaz.gif");
    background-repeat :no-repeat;
    width: 100%;
    height: 100%;
}
.table{
    background:url("https://i.pinimg.com/originals/74/c8/16/74c81634df9087d04879088aa5c2ee50.gif");
    background-repeat :no-repeat;
    width: 100%;
    height: 100%;
}